/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.bodClass {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background: url('moon.jpg');
	background-size: 1440px 800px;
	background-repeat:no-repeat;
	/**display: compact;**/
}

.mainContent {
	flex: 1 0 auto;
}

.content-box{
	background-color: #bbb;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 10px;
}

img {
	width:45px;
	height:45px;
	margin:2px;
}

div[class*="col-"] {
	background-color: pink;
}

footer {
	background: black;
	color: white;
	padding: 20px 0;
	margin-top: 40px;
}

header {
	margin-top: 40px;
}



