/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
	background: #1d1b1c !important;
	color: #dddddd;
}

.bg, .jumbotron {
	height: 750px; /*bg of jumbotron needs to be same height as jumbotron */
}

/*this formats the background image on the header*/
.bg {
	background-image: url("images/background.jpg");
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.12;
}

/* This formats the Jumbotron*/
.jumbotron {
	text-shadow: black 0.3em 0.3em 0.3em;
	background: transparent;
}

.jtron-h1 {
	color: #e7be6a;
}

.jtron-h2, #portfolio {
	color: #cb7832;
}

.jtron-h3 {
	color: #9776a9;
}

/********************************************
* Primary Page Styles
********************************************/
.form-wrap {
	background-color: #1d1b1c;
	margin: 0 0 50px 0;
	padding: 20px 0 0 0;
}

/********************************************
* Form Styles
********************************************/
form#sample-form {
	/*color: #1295FF;*/
	color: #fff;
}

#sample-form .form-group {
	border-bottom: 1px solid #312f30;
	padding-bottom: 25px;
}

#sample-form .form-group:last-child {
	border: none;
	margin-top: 20px;
}

#sample-form label {
	font-weight: 400;
}

#sample-form .control-label {
	font-family: "Roboto", sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 4px;
	text-align: left !important;
	color: #cb7832
}

#sample-form .input-group-addon {
	border-radius: 0 !important;
	background: none;
	border: 1px solid #fff;
	color: #fff;
}

#sample-form .help-block {
	color: #ddd;
	font-size: 0.85em;
	margin-top: 0;
}

/********************************************
* Input Field Styles
********************************************/
#sample-form .btn {
	background: none;
	border-color: #fff;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
}

#sample-form .btn:hover,
#sample-form .btn:focus {
	background: #fff;
	border-color: #ccc;
	box-shadow: none;
	color: #000;
}

#sample-form input.form-control,
#sample-form textarea.form-control,
#sample-form select.form-control {
	background: none;
	border: 1px solid #fff;
	border-radius: 0;
	color: #fff;
}

#sample-form option {
	color: #000;
	background-color: #fff;
	padding: 5px;
}

#sample-form .no-option {
	background: #dddddd;
}

/* End of form styles*/

/*Bar Chart styles*/
